<div class="flex items-center justify-center w-screen h-screen bg-cover" style="background-image: url('https://wallpapercave.com/wp/wp4016023.jpg');" id="body">
  <div class="container w-3/4 h-fit text-center text-sky-500 border-2 rounded-xl border-orange-500 backdrop-blur-md brand">
    <div class="header mb-5">
      <h1 class="text-7xl p-4">Welcome to cineFiled</h1>
      <h3>A place for the cinephiles</h3>
    </div>
      <hr>
    <div class="m-8 text-white" id="welcome">
      <p text-left>Here you can search, browse, and discover films from a near infinite catalogue.<br> Discover where and when to watch. Rate, review, and most of all enjoy.
      </p>
    </div>
    <div class="flex items-center justify-center mt-5 mb-5">
      <div class="bg-sky-500 bg-opacity-25 p-8 m-10 text-white rounded-md shadow-md w-96 border-2 border-sky-500">
        <h2 class="text-2xl font-bold mb-4">Sign In</h2>
        <div class="mb-4">
          <label for="email" class="block text-sm font-semibold mb-2">Email:</label>
          <input type="email" id="email" name="email" class="w-full bg-transparent p-2 border-2 border-orange-500 rounded-md" placeholder="Enter your email">
        </div>
        <div class="mb-4">
          <label for="password" class="block text-sm font-semibold mb-2">Password:</label>
          <input type="password" id="password" name="password" class="w-full bg-transparent p-2 border-2 border-orange-500 rounded-md" placeholder="Enter your password">
        </div>
        <div class="mb-6">
          <p class=" text-sm">Don't have an account? <a href="" class="">Join now</a></p>
        </div>
        <button type="button" class="btn w-[250px] mx-2 p-2 m-3 bg-transparent hover:bg-gray-600 py-2 px-4 border border-orange-500 rounded" (click)="enterCinePhiles()">Enter The Cinephiles</button>
      </div>
    </div>

  </div>


<!--login/signin modal-->

</div>
