<div class=" container relative flex-col h-screen sidenav w-[244px] bg-gray-800 shadow-sm bg-opacity-80 backdrop-blur-sm border-r-2 border-sky-500">
  <!-- Header -->
  <div class="header row text-3xl p-3 font-bold flex-nowrap brand">
    <a href="">
    <h1 class="text-center mt-6 c-sky-50 text-orange-500">The cineFiles</h1>
    </a>
  </div>

  <!-- Nav -->
  <div class="text-center mt-10">
    <button class="btn p-3 m-3 w-[105px] bg-transparent hover:bg-gray-600  border border-orange-500 rounded relative  text-white">
      Watchlist
    </button>
    <button class="btn p-3 m-3 w-[105px] bg-transparent hover:bg-gray-600  border border-orange-500 rounded relative  text-white">
      cineFiles
    </button>
  </div>

  <!-- User -->
  <div class="footer bg-sky-50 p-2 w-[200px] rounded-md bg-transparent text-white flex-row absolute m-auto mb-3 border-orange-500 border-2 left-4 bottom-3 text-center">
    <div class="flex justify-around ">
      <p class="font-bold">User 1</p>
      <img src="" alt="" class="rounded-full p-3 w-10 h-10  bg-black">
    </div>
  </div>

</div>
